@model Person

@{
  ViewData["Title"] = "All Employee";
  string[] genders = { "Male", "Female", "Others" };
}
<h4>Update Employee...</h4>
<hr />
<form asp-controller="Employee" asp-action="Edit" method="POST">
  <input type="hidden" asp-for="Id"/>
  <div class="form-group">
    <label asp-for="FirstName"></label>
    <span class="text-danger" asp-validation-for="FirstName"></span>
    <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter Your FirstName">
  </div>
  <div class="form-group">
    <label asp-for="SurName"></label>
    <span class="text-danger" asp-validation-for="SurName"></span>
    <input type="text" class="form-control" asp-for="SurName" placeholder="Enter Your LastName">
  </div>
  <div class="form-group">
    <label asp-for="Address"></label>
    <textarea class="form-control" asp-for="Address" placeholder="Enter Your Address"></textarea>
  </div>
  <div class="form-group">
    <label asp-for="Gender"></label>
    @foreach (var gender in genders)
    {

      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" asp-for="Gender" id="@gender" value="@gender[0]">
        <label class="form-check-label" asp-for="@gender">@gender</label>
      </div>
    }
  </div>
  <div class="form-group">
    <label asp-for="Salary"></label>
    <input type="number" class="form-control" asp-for="Salary" placeholder="Enter Your Salary">
  </div>

  <button type="submit" class="btn btn-primary">Update Employee </button>
</form>